<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h3>Is it worth learning web development in 2019? In fact, as per the U.S. Bureau of Labor Statistics (BLS) report, Web developer jobs will grow at a rate of 13% over 10 years measured from 2016 to 2026. Precisely, this growth rate is faster than most other occupations. If you are planning to start a career as a Web Developer take a look at all the possibilities that you could have ones you are ready to get a job and which abilities the companies are looking for the most. And if you already have some knowledge you might find some entry label job. 
</h3>

<h1>Here you can research and apply for the job that you're looking for... </h1>
    
<a href="indeed.ejs">Search</a>

</body>
</html>








