body {
  margin: 0%;
  background-color: rgb(243, 232, 232);
}
.one {
  background-image: url(4jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  color: rgb(121, 45, 45);
  padding: 50px;
  box-shadow: 10px 10px 10px rgb(131, 131, 131);
}

.text {
  padding: 5% 30% 3% 5%;
  text-align: center;
  font-size: 20px;
  color: rgb(82, 81, 81);
}

.text2 {
  padding: 40px 370px 20px 10px;
  text-align: center;
  font-size: 40px;
  text-shadow: 2px 2px 4px #7a7676;
}

.two {
  color: rgb(121, 45, 45);
  padding: 50px;
  font-family: "Playfair Display", serif;
}

.input {
  text-align: center;
  border: none;
  margin-left: 25%;
  margin-top: 7%;
  width: 20%;
  height: 30%;
  padding: 13px 10px 13px 10px;
}

.buttom {
  background-color: rgb(121, 45, 45);
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 6px;
  transition: all 0.5s ease-in-out;
}

.buttom:hover {
  background-color: rgb(88, 33, 33);
  border-radius: 6px;
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.19);
}

ul {
  margin-top: 8%;
}

li {
  font-size: 190%;
  margin-left: 25%;
  margin-top: 2.5%;
}

a:link,
a:visited {
  background-color: rgb(121, 45, 45);
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 6px;
  transition: all 0.5s ease-in-out;
  float: right;
}

a:hover,
a:active {
  background-color: rgb(88, 33, 33);
  border-radius: 6px;
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.19);
}
#apply {
  float: left;
  background-color: rgb(63, 141, 0);
}
.h2 {
  font-size: 200%;
}

@media only screen and (max-width: 760px) {
  .one {
    padding: 10px;
  }
  .text {
    padding: 2% 3% 2% 3%;
    font-size: 20px;
  }

  .text2 {
    padding: 0px 0px 10px 0px;
    font-size: 36px;
  }

  .two {
    padding: 50px;
  }

  .input {
    margin-left: 0%;
    margin-top: 5%;
    width: 60%;
    height: 20%;
    padding: 10px 8px;
  }

  .buttom {
    padding: 11px 20px;
  }

  a:link,
  a:visited {
    background-color: rgb(121, 45, 45);
    color: white;
    padding: 4px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px;
    transition: all 0.5s ease-in-out;
    float: right;
  }

  a:hover,
  a:active {
    background-color: rgb(88, 33, 33);
    border-radius: 6px;
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2),
      0 10px 10px 0 rgba(0, 0, 0, 0.19);
  }
  h2 {
    font-size: 130%;
  }
  .h2 {
    font-size: 150%;
  }
}
